<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<a name="JR_PAGE_ANCHOR_0_1"></a>
<table class="jrPage" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 612px; border-collapse: collapse; background-color: white;">
<tr valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:5px"></td>
<td style="width:20px"></td>
<td style="width:5px"></td>
<td style="width:80px"></td>
<td style="width:5px"></td>
<td style="width:25px"></td>
<td style="width:10px"></td>
<td style="width:20px"></td>
<td style="width:25px"></td>
<td style="width:7px"></td>
<td style="width:3px"></td>
<td style="width:22px"></td>
<td style="width:3px"></td>
<td style="width:65px"></td>
<td style="width:3px"></td>
<td style="width:2px"></td>
<td style="width:5px"></td>
<td style="width:76px"></td>
<td style="width:29px"></td>
<td style="width:20px"></td>
<td style="width:10px"></td>
<td style="width:20px"></td>
<td style="width:105px"></td>
<td style="width:5px"></td>
<td style="width:13px"></td>
<td style="width:9px"></td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="27">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="6" rowspan="6">
<img src="rep_bitacora.html_files/img_0_0_6" style="height: 60px" alt=""/></td>
<td colspan="20">
</td>
</tr>
<tr valign="top" style="height:23px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="11" rowspan="2" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 16px; line-height: 1.1640625; font-weight: bold;">CLÍNICA DENTAL SMILING</span></td>
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="2">
</td>
<td colspan="4" rowspan="5">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:30px"></td>
<td style="width:90px"></td>
<td style="width:23px"></td>
</tr>
<tr valign="top" style="height:13px">
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 9px; line-height: 1.1640625;">Total de registros:</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:37px"></td>
<td style="width:80px"></td>
<td style="width:14px"></td>
<td style="width:12px"></td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: right;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 9px; line-height: 1.1640625;">Página 1 de</span></td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 9px; line-height: 1.1640625;">&nbsp;1</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:26px">
<td colspan="4">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:80px"></td>
<td style="width:63px"></td>
</tr>
<tr valign="top" style="height:11px">
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:15px">
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 9px; line-height: 1.1640625;">Fecha creación:</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:73px"></td>
<td style="width:70px"></td>
</tr>
<tr valign="top" style="height:26px">
<td>
</td>
<td>
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:52px"></td>
<td style="width:18px"></td>
</tr>
<tr valign="top" style="height:11px">
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:15px">
<td style="pointer-events: auto; text-indent: 0px; text-align: right;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 9px; line-height: 1.1640625;">06/08/2019</span></td>
<td>
</td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:47px"></td>
<td style="width:23px"></td>
</tr>
<tr valign="top" style="height:13px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.1640625;">1</span></td>
</tr>
<tr valign="top" style="height:13px">
<td colspan="2">
</td>
</tr>
</table>
</div>
</div>
</td>
</tr>
</table>
</div>
</div>
</td>
</tr>
</table>
</div>
</div>
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td>
</td>
<td colspan="13" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">BITÁCORA DE TRANSACCIONES</span></td>
<td>
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td colspan="4">
</td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">DEL</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">01/12/2018</span></td>
<td>
</td>
<td colspan="3">
<div style="width: 100%; height: 100%; position: relative;">
<div style="position: absolute; overflow: hidden; width: 100%; height: 100%; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:18px"></td>
<td style="width:65px"></td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">06/08/2019</span></td>
</tr>
</table>
</div>
<div style="position: relative; width: 100%; height: 100%; pointer-events: none; ">
<table cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 100%; border-collapse: collapse;">
<tr valign="top" style="height:0">
<td style="width:25px"></td>
<td style="width:58px"></td>
</tr>
<tr valign="top" style="height:15px">
<td style="pointer-events: auto; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">AL</span></td>
<td>
</td>
</tr>
</table>
</div>
</div>
</td>
<td colspan="3">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:5px">
<td>
</td>
<td colspan="15">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:5px">
<td colspan="22">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="24" style="border-top: 1px solid #808080; ">
</td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="27">
</td>
</tr>
<tr valign="top" style="height:15px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625; font-weight: bold;">No.</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625; font-weight: bold;">Fecha</span></td>
<td>
</td>
<td colspan="4" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625; font-weight: bold;">Hora</span></td>
<td colspan="2">
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625; font-weight: bold;">Usuario</span></td>
<td>
</td>
<td colspan="6" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625; font-weight: bold;">Transacción</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="24" style="border-top: 1px solid #808080; ">
</td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:5px">
<td colspan="27">
</td>
</tr>
<tr valign="top" style="height:15px">
<td>
</td>
<td colspan="2" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625;">1</span></td>
<td>
</td>
<td style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625;">null</span></td>
<td>
</td>
<td colspan="4" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625;">null</span></td>
<td colspan="2">
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625;">null</span></td>
<td>
</td>
<td colspan="6" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 10px; line-height: 1.1640625;">null</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:629px">
<td colspan="27">
</td>
</tr>
<tr valign="top" style="height:15px">
<td colspan="5">
</td>
<td colspan="18" style="text-indent: 0px; text-align: center;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #464646; font-size: 11px; line-height: 1.1640625; font-weight: bold;">© SIAEC &quot;LA FELICIDAD SE REFLEJA EN TU SONRISA&quot;</span></td>
<td colspan="4">
</td>
</tr>
<tr valign="top" style="height:20px">
<td colspan="27">
</td>
</tr>
</table>

<![if IE]>
<script>
var links = document.querySelectorAll('link.jrWebFont');
setTimeout(function(){ if (links) { for (var i = 0; i < links.length; i++) { links.item(i).href = links.item(i).href; } } }, 0);
</script>
<![endif]>
</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
